.Card {
  display: flex;
  margin: 20px 0;
}
.Poster {
  width: 200px;
}
.Description {
  padding: 20px;
}
.Title {
  margin-bottom: 10px;
}
.Overview {
  margin: 10px 0;
}
.Genres {
  font-weight: 700;
  margin: 10px 0;
}
.item {
  font-weight: 400;
  margin-left: 18px;
  margin-top: 5px;
}
