.header {
  display: block;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #a47053;
  box-shadow: 0 0 2px 1px #a47053;
  padding: 20px 0;
  margin-bottom: 10px;
}

.homeLink {
  margin-right: 20px;
}
.activeLink {
  color: #a47053;
}
