@import-normalize;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #a47053;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #cec3c8;
  color: #4e627c;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
